<% content_for :title do %>
  Enter Billing Information
<% end %>

  <% if flash[:notice] %>
      <div class="alert alert-success alert-dismissable" role="alert">
          <%= flash[:notice] %>
      </div>
  <% end %>
  <% if @subscription.missing_any_payment_info? %>
      <div class="alert alert-success alert-dismissable" role="alert">
        Looks like we don't have any billing information for this. If you chose
        this plan in error, click
        <%= link_to new_website_business_website_add_website_path do %>
          here
        <% end %>
        to go back. Otherwise, please enter and submit your
        billing information below.
      </div>
  <% end %>
  <div class="ibox">
    <div class="ibox-title">
      <h2> Kindly Submit Your Payment Information to Activate Your Upgrade.
        </br> 
<!--         If You Selected the Wrong Plan and Need to Go Back,
        <#%= link_to initial_plan_setup_business_subscriptions_path(@business, :back => "true") do %>
            Click Here.
        <%# end %> -->
    </div>
    <div class="ibox-content">
      <div class="panel-group payments-method" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            Enter Your Credit Card Information Below
          </div>
          <div id="collapseTwo" class="panel-collapse collapse in">
            <div class="panel-body">
              <div class="row">
                <div class="col-md-4">
                  <h2>Summary</h2>
                  <strong>
                    Plan: 
                  </strong>
                  <p>
                    <%= @subscription_plan.name %>
                  </p>
                  <strong>
                    Today's Charges: 
                  </strong>
                  <p>
                    Subscription fee:
                    <% if @annual == true %>
                      <%= number_to_currency @subscription_plan.amount_annual %>
                    <% else %>
                      <%= number_to_currency @subscription_plan.amount %>
                    <% end %>
                    </br>
                    One-time setup fee:
                    <%= number_to_currency @subscription_plan.setup_amount %>
                    </br>
                    <b><ul>Total:
                      <% if @annual == true %>
                        <%= number_to_currency (@subscription_plan.amount_annual + @subscription_plan.setup_amount) %></ul></b>
                      <% else %>
                        <%= number_to_currency (@subscription_plan.amount + @subscription_plan.setup_amount) %></ul></b>
                      <% end %>
                  </p>

                  <strong>Next charge date:</strong>
                  <p>
                    <% if @annual == true %>
                      <%= (Time.now + 1.years).to_date.to_formatted_s(:long_ordinal)%>
                    <% else %>
                      <%= (Time.now + 1.months).to_date.to_formatted_s(:long_ordinal)%>
                    <% end %>
                  </p>
                  <strong>Next charge amount:</strong>
                  <p>
                    Subscription:
                    <% if @annual == true %>
                      <%= number_to_currency @subscription_plan.amount_annual %>
                    <% else %>
                      <%= number_to_currency @subscription_plan.amount %>
                    <% end %>
                  </p>
                  <strong>Current payment method:</strong>
                  <p>
                    <% if @subscription.card_number && @subscription.card_expiration %>
                      <%= "#{@subscription.card_number} / #{@subscription.card_expiration}" %>
                    <% else %>
                      No credit card information is on file. Please use the form on this page to submit this information.
                    <% end %>
                  </p>

                </div>
                <div class="col-md-8">
                  <% if @subscription.state == 'trial' %>
                    <% if @subscription.next_renewal_at > Time.now %>
                      <p>
                        Thank you for trying <%= Saas::Config.app_name %>!  Your trial account will expire in <%= pluralize(@subscription.trial_days, 'day', 'days') %>, at which time you will no longer have access to your account.  To maintain access to your account, enter your credit card information below.  Your first charge will happen on <%= @subscription.next_renewal_at.to_date.to_formatted_s(:long_ordinal)%>.
                      </p>
                    <% else %>
                      To upgrade your account to your plan, enter your credit card information below.  Your first charge will happen immediately, and you will be billed monthly thereafter.
                    <% end %>
                  <% end %>

                  <%= render 'initial_billing_setup_credit_card_form'  %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<% content_for :head do %>
  <script type="text/javascript" src="https://js.stripe.com/v1/"></script>
  <%= javascript_include_tag 'stripe_form' %>
  <script type="text/javascript">
    // this identifies your website in the createToken call in stripe_form.js
    Stripe.setPublishableKey('<%= Saas::Config.credentials['stripe_publishable_key'] %>');
  </script>
<% end if Saas::Config.gateway == 'stripe' and Saas::Config.credentials['stripe_publishable_key'] %>
