<div class="row">
	<div class = "col-xs-2 col-sm-1">
		<div class="switch">
			<div class = "onoffswitch" >
				<%= check_box_tag "enable", @module.content_enabled('quick_post'), @module.content_enabled_checked('quick_post'), data: { remote: true, url: business_account_module_path(content: "quick_post"), method: "PUT"}, class: "onoffswitch-checkbox", id: "quick_post-#{@module.id}" %>
				<label class="onoffswitch-label" for=<%="quick_post-#{@module.id}"%> >
		            <span class="onoffswitch-inner"></span>
		            <span class="onoffswitch-switch"></span>
		        </label>
			</div>
		</div>
	</div>
	<div class = "col-xs-5 col-sm-2">
		Quick Posts
	</div>
</div>

<div class="row">
	<div class = "col-xs-2 col-sm-1">
		<div class="switch">
			<div class = "onoffswitch" >
				<%= check_box_tag "enable", @module.content_enabled('post'), @module.content_enabled_checked('post'), data: { remote: true, url: business_account_module_path(content: "post"), method: "PUT"}, class: "onoffswitch-checkbox", id: "post-#{@module.id}" %>
				<label class="onoffswitch-label" for=<%="post-#{@module.id}"%> >
		            <span class="onoffswitch-inner"></span>
		            <span class="onoffswitch-switch"></span>
		        </label>
			</div>
		</div>
	</div>
	<div class = "col-xs-5 col-sm-2">
		Custom Posts
	</div>
</div>
<% if !@business.is_on_engage_plan? %>
 	<div class="row">
		<div class = "col-xs-2 col-sm-1">
			<div class="switch">
				<div class = "onoffswitch" >
					<%= check_box_tag "enable", @module.content_enabled('before_after'), @module.content_enabled_checked('before_after'), data: { remote: true, url: business_account_module_path(content: "before_after"), method: "PUT"}, class: "onoffswitch-checkbox", id: "before_after-#{@module.id}" %>
					<label class="onoffswitch-label" for=<%="before_after-#{@module.id}"%> >
			            <span class="onoffswitch-inner"></span>
			            <span class="onoffswitch-switch"></span>
			        </label>
				</div>
			</div>
		</div>
		<div class = "col-xs-5 col-sm-2">
			Before & Afters
	 	</div>
	</div>
<% else %>
	<div class="row">
		<div class = "col-xs-2 col-sm-1">
			<div class="switch">
				<div class = "onoffswitch" >
					<%#= check_box_tag "enable", @module.content_enabled('before_after'), @module.content_enabled_checked('before_after'), data: { remote: true, url: business_account_module_path(content: "before_after"), method: "PUT"}, class: "onoffswitch-checkbox", id: "before_after-#{@module.id}" %>
					<label class="onoffswitch-label" style="border-color: #a7b1c2; cursor:no-drop;" for=<%="before_after-#{@module.id}"%> >
			            <span class="onoffswitch-inner" style="border-color: #a7b1c2;"></span>
			            <span class="onoffswitch-switch" style="border-color: #a7b1c2;"></span>
			        </label>
				</div>
			</div>
		</div>
		<div class = "col-xs-5 col-sm-2">
			Before & Afters
	 	</div>
		<div class = "col-xs-4 col-sm-1">
			<%= link_to plans_business_subscriptions_path, style: 'opacity: 0.4;' do %>
				Upgrade
			<% end %>
	 	</div>
	</div>
<% end %>

<div class="row">
	<div class = "col-xs-2 col-sm-1">
		<div class="switch">
			<div class = "onoffswitch" >
				<%= check_box_tag "enable", @module.content_enabled('event'), @module.content_enabled_checked('event'), data: { remote: true, url: business_account_module_path(content: "event"), method: "PUT"}, class: "onoffswitch-checkbox", id: "event-#{@module.id}" %>
				<label class="onoffswitch-label" for=<%="event-#{@module.id}"%> >
		            <span class="onoffswitch-inner"></span>
		            <span class="onoffswitch-switch"></span>
		        </label>
			</div>
		</div>
	</div>
	<div class = "col-xs-5 col-sm-2">
		Events, Classes & Deadlines
 	</div>
</div>

<div class="row">
	<div class = "col-xs-2 col-sm-1">
		<div class="switch">
			<div class = "onoffswitch" >
				<%= check_box_tag "enable", @module.content_enabled('offer'), @module.content_enabled_checked('offer'), data: { remote: true, url: business_account_module_path(content: "offer"), method: "PUT"}, class: "onoffswitch-checkbox", id: "offer-#{@module.id}" %>
				<label class="onoffswitch-label" for=<%="offer-#{@module.id}"%> >
		            <span class="onoffswitch-inner"></span>
		            <span class="onoffswitch-switch"></span>
		        </label>
			</div>
		</div>
	</div>
	<div class = "col-xs-5 col-sm-2">
		Offers
 	</div>
</div>

<div class="row">
	<div class = "col-xs-2 col-sm-1">
		<div class="switch">
			<div class = "onoffswitch" >
				<%= check_box_tag "enable", @module.content_enabled('job'), @module.content_enabled_checked('job'), data: { remote: true, url: business_account_module_path(content: "job"), method: "PUT"}, class: "onoffswitch-checkbox", id: "job-#{@module.id}" %>
				<label class="onoffswitch-label" for=<%="job-#{@module.id}"%> >
		            <span class="onoffswitch-inner"></span>
		            <span class="onoffswitch-switch"></span>
		        </label>
			</div>
		</div>
	</div>
	<div class = "col-xs-5 col-sm-2">
		Jobs & Volunteer Opportunities
 	</div>
</div>
<% if !@business.is_on_engage_plan? %>
	<div class="row">
		<div class = "col-xs-2 col-sm-1">
			<div class="switch">
				<div class = "onoffswitch" >
					<%= check_box_tag "enable", @module.content_enabled('gallery'), @module.content_enabled_checked('gallery'), data: { remote: true, url: business_account_module_path(content: "gallery"), method: "PUT"}, class: "onoffswitch-checkbox", id: "gallery-#{@module.id}" %>
					<label class="onoffswitch-label" for=<%="gallery-#{@module.id}"%> >
			            <span class="onoffswitch-inner"></span>
			            <span class="onoffswitch-switch"></span>
			        </label>
				</div>
			</div>
		</div>
		<div class = "col-xs-5 col-sm-2">
			Galleries
	 	</div>
	</div>
<% else %>
	<div class="row">
		<div class = "col-xs-2 col-sm-1">
			<div class="switch">
				<div class = "onoffswitch" >
					<%#= check_box_tag "enable", @module.content_enabled('gallery'), @module.content_enabled_checked('gallery'), data: { remote: true, url: business_account_module_path(content: "gallery"), method: "PUT"}, class: "onoffswitch-checkbox", id: "gallery-#{@module.id}" %>
					<label class="onoffswitch-label" style="border-color: #a7b1c2; cursor:no-drop;" for=<%="gallery-#{@module.id}"%> >
			            <span class="onoffswitch-inner" style="border-color: #a7b1c2;"></span>
			            <span class="onoffswitch-switch" style="border-color: #a7b1c2;"></span>
			        </label>
				</div>
			</div>
		</div>
		<div class = "col-xs-5 col-sm-2">
			Galleries
	 	</div>
		<div class = "col-xs-4 col-sm-1">
			<%= link_to plans_business_subscriptions_path, style: 'opacity: 0.4;' do %>
				Upgrade
			<% end %>
	 	</div>
	</div>
<% end %>