<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Module Management</title>

    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Toastr style -->
    <link href="css/plugins/toastr/toastr.min.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

<style>
.product-imitation {padding: 30px 0;}
.product-desc {padding: 18px;}
.inactive-element {background: #bebec3;}
</style>

</head>

        <div class="wrapper wrapper-content animated fadeInRight">
            <div class="row">
                <div class="col-lg-12">
                    <div class="ibox float-e-margins">
                        <div class="ibox-title">
                            <h2>Manage Active Features on Your Account <a class="btn btn-primary btn-outline btn-sm pull-right" href="javascript:Appcues.show('-KzzalC9re6PucsKBel1')">What do I do on this page?</a></h2>
                        </div>
                        <div class="ibox-content">
                            <div class="row">
                
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="ibox">
                                        <div class="ibox-content product-box">

                                            <div class="bg-muted">
                                                <img class="img-responsive center-block" style="max-height: 125px;" src="https://assets.locable.com/r/thumbnail/09856f82-489e-4ef1-97ad-4aed4413e8d5/Marketing%20Missions.png">

                                            </div>
                                            <div class="product-desc">

                                                <% if @business.module_active?(0) %>
                                                    <span class="product-price">
                                                        Active
                                                    </span>
                                                <% else %>
                                                    <span class="product-price inactive-element">
                                                        Inactive
                                                    </span>
                                                <% end %>
                                                <small class="text-muted">Included</small>
                                                <a href="#" class="product-name"> Marketing Missions™</a>



                                                <div class="small m-t-xs">
                                                    Find fast and fun marketing activities, promote and grow your business painlessly. Marketing is simplified with guidance.
                                                </div>
                                                <a href="javascript:Appcues.show('-Kxilh4ou36bmpm5R2yh')" class="pull-left text-muted" style="margin-top: 17px;"><small>Learn More </small></a>
                                                <div class="m-t text-right">
                                                    <% if !@business.module_active?(0) %>
                                                        <%= form_tag business_account_modules_path(:kind => 0, :active => true) do %>
                                                            <%= button_tag( type: 'submit',
                                                            :class => "btn btn-xs btn-outline btn-primary") do %>
                                                                Activate <i class="fa fa-plus-circle"></i>
                                                            <% end %>
                                                        <% end %>
                                                    <% else %>
                                                        <%= link_to( "Configure", timeline_business_activity_calendar_index_path(@business), :class => "btn btn-xs btn-outline btn-primary" ) %>
                                                        
                                                    <% end %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="ibox">
                                        <div class="ibox-content product-box">

                                            <div class="bg-muted">
                                                <img class="img-responsive center-block" style="max-height: 125px;" src="https://assets.locable.com/r/thumbnail/09856f82-489e-4ef1-97ad-4aed4413e8d5/Connections%20&%20Community.png">

                                            </div>
                                            <div class="product-desc">
                                                <% if @business.module_active?(2) %>
                                                    <span class="product-price">
                                                        Active
                                                    </span>
                                                <% else %>
                                                    <span class="product-price inactive-element">
                                                        Inactive
                                                    </span>
                                                <% end %>
                                                <small class="text-muted">Included</small>
                                                <a href="#" class="product-name"> Local Connections™ Embeds</a>

                                                <div class="small m-t-xs">
                                                    Add <em>living</em> directories, calendars, job boards & more to your website to #SupportLocal.<br> Now you can painlessly cross-promote.
                                                </div>
                                                <a href="#" class="pull-left text-muted" style="margin-top: 17px;"><small>Learn More </small></a>

                                                <div class="m-t text-right">

                                                    <% if !@business.module_active?(2) %>
                                                        <%= form_tag business_account_modules_path(:kind => 2, :active => true) do %>
                                                            <%= button_tag( type: 'submit',
                                                            :class => "btn btn-xs btn-outline btn-primary") do %>
                                                                Activate <i class="fa fa-plus-circle"></i>
                                                            <% end %>
                                                        <% end %>
                                                    <% else %>
                                                        <%= link_to( "Configure", business_crm_company_lists_path(@business), :class => "btn btn-xs btn-outline btn-primary" ) %>
                                                    <% end %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="ibox">
                                        <div class="ibox-content product-box">

                                            <div class="bg-muted">
                                                <img class="img-responsive center-block" style="max-height: 125px;" src="https://assets.locable.com/r/thumbnail/09856f82-489e-4ef1-97ad-4aed4413e8d5/Content%20blog%20marketing%20posts.png">

                                            </div>
                                            <div class="product-desc">
                                                <% if @business.module_active?(1) %>
                                                    <span class="product-price">
                                                        Active
                                                    </span>
                                                <% else %>
                                                    <span class="product-price inactive-element">
                                                        Inactive
                                                    </span>
                                                <% end %>
                                                <small class="text-muted">Included w/ Optional Upgrades</small>
                                                <a href="#" class="product-name"> Blog & Content</a>



                                                <div class="small m-t-xs">
                                                    More than a blog, post events, offers, job listings and volunteer opportunities, galleries & more.
                                                    <!--Quickly & easily post Marketing Messages with our robust Content Engine.
                                                        More than a blog, create & distribute marketing content the easy way to reach more people.
                                                    -->
                                                </div>
                                                <a href="#" class="pull-left text-muted" style="margin-top: 17px;"><small>Learn More </small></a>
                                                <div class="m-t text-right">

                                                    <% if !@business.module_active?(1) %>
                                                        <%= form_tag business_account_modules_path(:kind => 1, :active => true) do %>
                                                            <%= button_tag( type: 'submit',
                                                            :class => "btn btn-xs btn-outline btn-primary") do %>
                                                                Activate <i class="fa fa-plus-circle"></i>
                                                            <% end %>
                                                        <% end %>
                                                    <% else %>
                                                        <%= link_to( "Configure", edit_business_account_module_path(@business, @business.get_account_module(1).id), :class => "btn btn-xs btn-outline btn-primary" ) %>
                                                    <% end %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-4 col-sm-6">
                                    <div class="ibox">
                                        <div class="ibox-content product-box">

                                            <div class="bg-muted">
                                                <img class="img-responsive center-block" style="max-height: 125px;" src="https://assets.locable.com/r/thumbnail/09856f82-489e-4ef1-97ad-4aed4413e8d5/Customer%20reviews.png">

                                            </div>
                                            <div class="product-desc">
                                                <% if @business.module_active?(3) %>
                                                    <span class="product-price">
                                                        Active
                                                    </span>
                                                <% else %>
                                                    <span class="product-price inactive-element">
                                                        Inactive
                                                    </span>
                                                <% end %>
                                                <small class="text-muted">Included w/ Optional Upgrades</small>
                                                <a href="/?appcue=-KzzzN485O46A0Q8VmHU#" class="product-name"> Customer Reviews</a>



                                                <div class="small m-t-xs">
                                                    Collect, Share and Promote Customer Reviews on your website to increase credibility.
                                                </div>
                                                <a href="#" class="pull-left text-muted" style="margin-top: 17px;"><small>Learn More </small></a>
                                                <div class="m-t text-right">
                                                    <% if !@business.module_active?(3) %>
                                                        <%= form_tag business_account_modules_path(:kind => 3, :active => true) do %>
                                                            <%= button_tag( type: 'submit',
                                                            :class => "btn btn-xs btn-outline btn-primary") do %>
                                                                Activate <i class="fa fa-plus-circle"></i>
                                                            <% end %>
                                                        <% end %>
                                                    <% else %>
                                                        <%= link_to( "Configure", [@business, :crm_reviews], :class => "btn btn-xs btn-outline btn-primary" ) %>
                                                    <% end %>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="bg-muted">
                                            <img class="img-responsive center-block" style="max-height: 125px;" src="https://assets.locable.com/r/thumbnail/09856f82-489e-4ef1-97ad-4aed4413e8d5/Form%20Builder.png">

                                        </div>
                                        <div class="product-desc">

                                            <% if @business.module_active?(4) %>
                                                <span class="product-price">
                                                    Active
                                                </span>
                                            <% else %>
                                                <span class="product-price inactive-element">
                                                    Inactive
                                                </span>
                                            <% end %>
                                            <small class="text-muted">Included w/ Optional Upgrades</small>
                                            <a href="#" class="product-name"> Web Forms</a>



                                            <div class="small m-t-xs">
                                                Add an Instant Contact Page and simple forms to your site, track submissions in the cloud.
                                            </div>
                                            <a href="javascript:Appcues.show('-Kxilh4ou36bmpm5R2yh')" class="pull-left text-muted" style="margin-top: 17px;"><small>Learn More </small></a>
                                            <div class="m-t text-right">

                                                <% if !@business.module_active?(4) %>
                                                    <%= form_tag business_account_modules_path(:kind => 4, :active => true) do %>
                                                        <%= button_tag( type: 'submit',
                                                        :class => "btn btn-xs btn-outline btn-primary") do %>
                                                            Activate <i class="fa fa-plus-circle"></i>
                                                        <% end %>
                                                    <% end %>
                                                <% else %>
                                                    <%= link_to( "Configure", business_crm_contact_forms_path(@business), :class => "btn btn-xs btn-outline btn-primary" ) %>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="bg-muted">
                                            <img class="img-responsive center-block" style="max-height: 125px;" src="https://assets.locable.com/r/thumbnail/09856f82-489e-4ef1-97ad-4aed4413e8d5/Create%20and%20manage%20a%20website.png">

                                        </div>
                                        <div class="product-desc">
                                            <% if (@business.is_on_engage_plan? || @business.build_plan_no_setup_fee == true) %>
                                                <span class="product-price inactive-element">
                                                    Inactive
                                                </span>
                                            <% else %>
                                                <span class="product-price">
                                                    Active
                                                </span>
                                            <% end %>
                                            <small class="text-muted">Upgrade Required</small>
                                            <a href="#" class="product-name"> Add a Website</a>



                                            <div class="small m-t-xs">
                                                Your website is the foundation for all marketing online, if your foundation needs an improvement we can help.
                                            </div>
                                            <a href="#" class="pull-left text-muted" style="margin-top: 17px;"><small>Learn More </small></a>
                                            <div class="m-t text-right">
                                                <% if (@business.is_on_engage_plan? || @business.build_plan_no_setup_fee == true) && !current_user.super_user? %>

                                                    <%= form_tag new_website_business_website_add_website_path, method: :get do %>
                                                        <%= button_tag( type: 'submit',
                                                        :class => "btn btn-xs btn-outline btn-primary") do %>
                                                            Activate <i class="fa fa-plus-circle"></i>
                                                        <% end %>
                                                    <% end %>

                                                <% else %>
                                                    <%= link_to( "Configure", table_business_website_webpages_path(@business), :class => "btn btn-xs btn-outline btn-primary" ) %>
                                                <% end %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="bg-muted">
                                            <img class="img-responsive center-block" style="max-height: 125px;" src="https://assets.locable.com/r/thumbnail/09856f82-489e-4ef1-97ad-4aed4413e8d5/Marketing%20Plan%20and%20Audit.png">

                                        </div>
                                        <div class="product-desc">

                                            <small class="text-muted">One-Time Fee</small>
                                            <a href="#" class="product-name"> Marketing Plan & Audit</a>



                                            <div class="small m-t-xs">
                                                Avoid common mistakes, get professional help to create a plan you can follow to reach your goals.
                                            </div>
                                            <div class="m-t text-right">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Learn More <i class="fa fa-eye"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-4 col-sm-6">
                                <div class="ibox">
                                    <div class="ibox-content product-box">

                                        <div class="bg-muted">
                                            <img class="img-responsive center-block" style="max-height: 125px;" src="https://assets.locable.com/r/thumbnail/09856f82-489e-4ef1-97ad-4aed4413e8d5/Advertising.png">

                                        </div>
                                        <div class="product-desc">

                                            <small class="text-muted">Varies</small>
                                            <a href="#" class="product-name"> Advertising</a>



                                            <div class="small m-t-xs">
                                                Ready to actively promote your business to locals? Find out how Locable can help.
                                            </div>
                                            <div class="m-t text-right">

                                                <a href="#" class="btn btn-xs btn-outline btn-primary">Learn More <i class="fa fa-eye"></i> </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

            </div>
        </div>
                        </div>
                    </div>



        </div>



<!-- Mainly scripts -->
<script src="js/jquery-3.1.1.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/plugins/metisMenu/jquery.metisMenu.js"></script>
<script src="js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<!-- Custom and plugin javascript -->
<script src="js/inspinia.js"></script>
<script src="js/plugins/pace/pace.min.js"></script>

</body>

</html>
